@font-face {
  font-family: "Merriweather" monospace;
  src:url(../fonts/Merriweather/merriweather-black.ttf) format('ttf'),
      url(../fonts/Merriweather/merriweather-blackitalic.ttf) format('ttf'),
      url(../fonts/Merriweather/merriweather-bold.ttf) format('ttf'),
      url(../fonts/Merriweather/merriweather-bolditalic.ttf) format('ttf'),
      url(../fonts/Merriweather/merriweather-italic.ttf) format('ttf'),
      url(../fonts/Merriweather/merriweather-light.ttf) format('ttf'),
      url(../fonts/Merriweather/merriweather-lightitalic.ttf) format('ttf'),
      url(../fonts/Merriweather/merriweather-regular.ttf) format('ttf');
}
body{
  font-family: "Merriweather" monospace;
  color: floralwhite;
  font-weight: bold;
}
/*Chart Table*/
.chart-table{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("atom-motion.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px;
  max-width: 1200px;
  margin: 0 auto;
  /*border: 1px solid green;*/
}
.chart-cover{
  background-color: rgba(0, 0, 0, 0.8);
}
/*Top row headers*/
.chart-top-row{
  display: flex;
  border: 1px solid;
  border-color:rgba(0, 0, 0, 0.5);
}
.chart-headers{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid grey;
  height: 80px;
  width: 100%;
}
.chart-headers-symbols{
  text-align: center;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  height: 100%;
  padding-top: 8px;
}
.chart-headers-titles{
  border: 1px solid black;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}
.chart-headers-numbers{
  border: 1px solid black;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.chart-blank-space{
  text-align: center;
  padding-top: 10%;
  font-size: 1.8em;
}
/*First Column Second row*/
.chart-rows{
  /*border: 1px solid black;*/
}
.chart-r2-c1{
  /*border: 1px solid black;*/
}
.dice-roll{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  text-align: center;
  padding-top: 8px;
}
.chart-r2{
  display: flex;
  height: 30px;
  /*border: 1px solid black;*/
}
.column-1{
  /*border: .5px solid grey;*/
  width: 100%
}
.column-2{
  /*border: .5px solid grey;*/
  width: 100%
}
.column-3{
  /*border: .5px solid black;*/
  width: 100%
}
.column-4{
  /*border: .5px solid black;*/
  width: 100%
}
.column-5{
  /*border: .5px solid black;*/
  width: 100%
}
.column-6{
  /*border: .5px solid black;*/
  width: 100%
}
.column-7{
  /*border: .5px solid black;*/
  width: 100%
}
.column-8{
  /*border: .5px solid black;*/
  width: 100%
}
.column-9{
  /*border: .5px solid black;*/
  width: 100%
}
.column-10{
  /*border: .5px solid black;*/
  width: 100%
}
.column-11{
  /*border: .5px solid black;*/
  width: 100%
}
.column-12{
  /*border: .5px solid black;*/
  width: 100%
}
.cell-g-80{
  color: black;
  background-color: #99ff99;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-g-70{
  color: black;
  background-color: #66ff66;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-g-60{
  color: black;
  background-color: #33ff33;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-g-50{
  color: black;
  background-color: #00ff00;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-g-40{
  color: black;
  background-color: #00cc00;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-g-30{
  color: black;
  background-color: #009900;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-g{
  color: black;
  background-color: green;
  height: 100%;
  text-align: center;
  /*margin-top: 4px;*/
  border: .5px solid  black;
}
.cell-y-80{
  color: black;
  background-color: #ffff99;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-y-70{
  color: black;
  background-color: #ffff66;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-y-60{
  color: black;
  background-color: #ffff33;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-y{
  color: black;
  background-color: yellow;
  height: 100%;
  text-align: center;
  /*margin-top: 4px;*/
  border: .5px solid  black;
}
.cell-r-80{
  color: black;
  background-color: #ff9999;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-r-70{
  color: black;
  background-color: #ff6666;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-r-60{
  color: black;
  background-color: #ff3333;
  text-align: center;
  border: .5px solid black;
  height: 100%;
}
.cell-r{
  color: black;
  background-color: red;
  height: 100%;
  text-align: center;
  /*padding-top: 4px;*/
  border: .5px solid  black;
}
.cell{
  text-align: center;
  /*border: .5px solid grey;*/
  height: 100%;
}
/*GUI Interface Styles*/
.error {
  color: red;
}
.hide{
  display: none;
}
.invalid {
  font-weight: bold;
  color: #cc0000;
}

.invalid input {
  border: 1px solid #cc0000;
}
.chartDieRoller {
  background-image: url("atom-motion.png");
  background-size: cover;
  color:rgba(255, 145, 0, 0.952);
  display: flex;
  flex-direction:row;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  border: solid 3px black;
}
.menu, .hv, .plusMinus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title{
  font-size: 1.5em;
}
.sTitle{
  font-size: 1.3em;
}
.lColumn, .mColumn{
  border: .5px solid black;
  width: 300px;
  height: 533px;
}
.lColumn{
  background-image: url("507px-Placeholder_female_superhero_c.png");
  background-size: cover;
  padding: 5px;
}
.mColumn{
  background-color: rgba(0, 0, 0, 0.8);
}
.rColumn{
  background-image: url("Placeholder_male_superhero_c.png");
  background-size: cover;
  width: 600px;
}
.successArea{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0); 
  color:rgba(255, 145, 0, 0.952);
  font-size: 1.5em;
  text-align: center;
  resize: none;
}
#displayModifier{
  color: rgba(255, 145, 0, 0.952);
  border-color: rgba(0, 0, 0, 0); 
  background-color:rgba(0, 0, 0, 0.925);
  resize: none;
}
.d100-container, .d10-container{
  display: flex;
  flex-direction: row;
  text-align: center;
  color: rgba(255, 145, 0, 0.952);
}
.halfSize{
  width: 50%;
  font-size: .95em;
}
.btn {
  color:rgba(255, 145, 0, 0.952);; 
  background-color: rgba(37, 43, 37, 0.925);
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
  font-size: 1.09em;
  font-weight: bolder;
}
.remove {
  color:rgba(255, 145, 0, 0.952);; 
  background-color: rgba(37, 43, 37, 0.925);
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
  font-size: .70em;
  font-weight: bolder;
  max-width: 30px;
}
h3, h5{
  background-color:rgba(0, 0, 0, 0.925);
  margin: auto;
}
.hselect{
  color:rgba(255, 145, 0, 0.952);
  background-color:rgba(0, 0, 0, 0.925);
  width: 80%;
}

.rollResult{
  color:  rgba(255, 145, 0, 0.952);
  background-color:rgba(0, 0, 0, 0.925);
}

input{
  width: 100%;
  text-align: center;
}
input[type=text]:disabled{
  background:white;
}
.glow {
  font-size: 1px;
  color: #f1f509;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px floralwhite, 0 0 2px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
  }
  
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
  }
}